body {
	background-image: url("../img/back.png");
}

div.header{
	width: 800px;
	height:196px;
	/*border: 1px solid black;*/
	background-image: url("../img/head.png");
	background-repeat:no-repeat;
	margin-left: auto;
	margin-right: auto;

}

div.main {
	background-color: #8c0031;
	/*border-style: solid;
	border-width: 1px;*/
	background-image:url("../img/middle.jpg");
	background-repeat:repeat-y;
	color: #cd3f3f;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding-left: 0px;
	padding-right: 0px;
	width: 800px;
	height: 500px;
}

div.middle{
	height: 460px;
	width:650px;
	overflow: auto;
	margin-left:auto;
	margin-right:auto;
	/*border: 1px solid red;*/
}

div.left{
	width:190px;
	height: 145px;
	float: left;
	background-image:url("../img/info190w.png");
	background-repeat: no-repeat;
	/*height: 60px;*/
	margin-top:0;
	text-align: justify;
	
	/*border: 1px solid green;*/
}
div.left > .inner{
	/*border: 1px solid red;*/
	width: 180px;
	margin-left: auto;
	margin-top: auto;
}
div.right> .inner{
	/*border: 1px solid red;*/
	width: 180px;
	margin-left: auto;
	margin-top: auto;
}


div.menupart{
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	height: 40px;
	width: 607px;
	height: 102px;
	background-image:url("../img/menu_back.png");
	background-repeat: no-repeat;
/*	border: 1px solid #397695;
	background-color: green;*/
}

div.content{
/*	margin-top:10px;
	border:1px solid #f14c4c;*/
	width:100%;
}

div.right{
	width:190px;
	height: 145px;
	background-image:url("../img/info190w.png");
	background-repeat: no-repeat;
	float: right;
	margin-top:0;
	/*border: 1px solid blue;*/
}

div.footer{
	width:800px;
	height:142px;
	text-align:right;
/*  border: 1px solid blue;*/
	background-image: url("../img/footer.png");
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
}


/*!
 * Menu items classes
 */
span.span_utem{
	width:152px;
	height:69px;
}

a.item_news {
	width:152px;
	height:69px;
	text-align:right;
	background-image: url("../img/item.menu.normal.png");
	background-repeat:no-repeat;	
}

a.item_menu {
	width:152px;
	height:69px;
	text-align:right;
	background-image: url("../img/item.menu.normal.png");
	background-repeat:no-repeat;	
}

a.item_gbook{
	width:152px;
	height:69px;
	text-align:right;
	background-image: url("../img/item.menu.normal.png");
	background-repeat:no-repeat;	
}
a.item_main{
	width:152px;
	height:69px;
	text-align:right;
	background-image: url("../img/item.menu.normal.png");
	background-repeat:no-repeat;	
}

a.item_menu:hover {

}




div.left > a{
	background-color: #bf4444;
	font-style: italic;
	
}

div.descr{
	font-style: italic;
	font-size: x-small;
	color: gray;
}

div.emptycart{
	font-style: italic;
}