.menulist{
	/*border:1px solid #000000;*/
	padding:5px 46px 5px 5px;
	width: 550px;
	overflow: auto;
	
}
.menulist > div.menu{
	min-width:150px;
	padding-bottom: 10px;
	padding-top: 4px;
	/*border:1px solid green;*/
	overflow: inherit;
}

.menulist > .menu > div.name{
	font-family: serif;
	font: caption;
	font-variant: small-caps;
	font-size: medium;
	font-weight: bolder;
	
	color: red;
}

.menulist > .menu > .dishlist{
	width: 90%;
	display: table;
	
	/*border: 1px solid #dcd21b;*/
}

.menulist > .menu > .dishlist >.dish{
	width: 150px;
	/*border: 1px solid red;*/
	display: inline-table;
	/*padding-right:  3px;
	padding-bottom: 10px;	*/
	padding:5px 3px 10px 0px ;	
}

.menulist > .menu > .dishlist >.dish > .name{
	color: fucshia;
	font-family: fantasy;	
}

input.num{
	width:30px;
}

input.put{
	width:90px;
}
