div.popup-caption{
	color: #ce6e1d;
	font-size: large;
	font-family: caption;
	font-weight: bolder;
	
}

div.popup-description{
	font-style: italic;
	font-weight: bolder;
	font-size: medium;
	color: white;	
}

div.wrapper div#nyroModalContent {
	background-color: black;
	
}
