.itemlist{
	border:1px solid red;
	padding:5px 5px 5px 5px;
	width: 350px;
	overflow: auto;
	
}
.itemlist > div.item{
	display: inline-table;
	min-width:150px;
	padding-bottom: 10px;
	padding-top: 4px;
	border:1px solid green;
	overflow: inherit;
}

.itemlist > .item > div.name{
	font-family: serif;
	font: caption;
	color: red;
}

.itemlist > .item > div.descr{
	font-style: italic;
	font-size: x-small;
	
	color: gray;
}

div.left > a{
	background-color: #bf4444;
	
}