div.main{
	width:875px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	height: 160px;
	color: #cd3f3f;
	background-color: gray;
	border: 1px solid red;
}

div.left{
	width:100px;
	float: left;
	height: 60px;
	margin-top:0;
	border: 1px solid green;
}

div.topheader{
	width: 100%;
	height:50px;
	border: 1px solid black;
}

div.content{
	margin-top:10px;
	width:100%;
	border:1px solid #f14c4c;
}

div.right{
	width:100px;
	float: right;
	height: 60px;
	margin-top:0;
	border: 1px solid blue;
}